@charset "utf-8";



#menuTopo{background-color: #1a64ba;}

#offcanvasNavbar{background-color:#1a64ba  ;}

#offcanvasNavbar li{border: 2px solid white;}

#offcanvasNavbar li ul li a{background-color: #1a64ba;}

#offcanvasNavbar li ul li  ul a {border: 2px solid white;}


#espaço{height: 250px;
          background-color: darkgray;}


 #sep_II{height: 250px;
         background-color: darkgray;} 
         
 #novidades{background-color: #c3c3c3;
             color: #000;}  
             
             
 #footer-top{border-top: solid 3px #4F4F4A;} 
 
 #corFundo{background-color: #1a64ba;
            width: 100%;}


           .col-2{color:#000;
                       text-align: center;}/*titulos Sessão*/

           .col-2 ul li a{
                     text-decoration: underline;
                      font-weight: bolder;
                       color: #000;
                         background-color:white;
                         text-align: center;
                         }
         